/* Banner */
.lojinha-banner {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .lojinha-banner img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  }